DataProvider=SqlServer
ConnectionStrings__DefaultConnection=Server=YOUR_SQL_SERVER;Database=IOC_Daklak;User Id=sa;Password=YOUR_PASSWORD;Encrypt=False;TrustServerCertificate=True;
TextToSpeech__Provider=Azure
TextToSpeech__AzureKey=
TextToSpeech__AzureRegion=southeastasia
TextToSpeech__AzureVoice=vi-VN-HoaiMyNeural
TextToSpeech__AzureOutputFormat=audio-24khz-48kbitrate-mono-mp3
