TextToSpeech__Provider=Azure
TextToSpeech__AzureKey=
TextToSpeech__AzureRegion=southeastasia
TextToSpeech__AzureVoice=vi-VN-HoaiMyNeural
TextToSpeech__AzureOutputFormat=audio-24khz-48kbitrate-mono-mp3
